*,
body{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
span{
    font-size: 8px;
}
body{
    width: 100vh;
    margin: auto;
    text-align: center;
    background-color: #1B1B1B;
    color: #fff;
}

#forms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
.itemContent{
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inputMoeda{
    padding: 20px;
    background-color: #fff;
    font-size: 20px;
    color: #1B1B1B;
}

.itemContent button{
    padding: 20px;
    border-radius: 8px;
}
#limpar {
    background-color: red;
    color: #fff;
    font-size: 16px;
    cursor: pointer;

}
.convert {
    background-color: #656565;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
#description{
left: 0;
bottom: 0;
position: absolute;
}

.alert{
    display: none;
    padding-top: 12px;
    background-color: #f5b201;
    font-size: 20px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;

}
#inputResult{
    width: 70%;
    padding: 20px;
    font-size: 16px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
}
.result{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.btOn{
    background-color: #649f54 ;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
