*, body{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #202124;
    padding: 8px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24;
    font-size: 40px;
    color: #fff;
}

#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DC1A28;
}
#user{
    display: flex;
    align-items: center;
    flex-direction: row;
}
#user p {
    color: #fff;
}

#main-banner{
    display: flex;
    justify-content: center;
}
.title-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 10px 0 10px 0;
}
.capa-tumb{
    width:500px;
    height: 350px;
}

#lista1,#lista2, .group-cards{
    list-style: none;
    display: flex;
}
.group-cards{
    flex-direction: row;
    align-items: center;
}
#lista1{

    overflow-x: hidden;
}


ul{
    width: 90%;
}
.btnNext, .btnPrev{
    cursor: pointer;
}

.btnNext, .btnPrev, .material-symbols-outlined:hover{
    color: #DC1A28;
}