* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #DB202C;
  --main-color-cursor: #af2a30
}

.md-48 {
  font-size: 48px;
}

.md-light {
  color: rgba(255, 255, 255, 1);
}

p,
h1,
h2 {
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 26px;
  background-color: #0F0F0F;

}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-color);

}

#logo {
  width: 200px;
}

.content-initial {
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-initial {
  padding-top: 26px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.PrevButton,
.nextButton {
  background-color: var(--main-color);
  color: rgba(255, 255, 255, 1);
  padding: 64px 16px 64px 16px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.PrevButton:hover,
.nextButton:hover {
  background-color: var(--main-color-cursor);

}

.category {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80%;

}

.capa-thumb {
  width: 400px;
  height: 250px;
  border-radius: 8px;
}

.videos {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.videos li {
  padding: 8px;
  list-style: none;
}

.newModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  backdrop-filter: blur(10px);

}

.newModalOn {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.closeVideo {
  padding: 15px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 23%;
  top: 19%;
  cursor: pointer;
}

.closeVideo:hover {
  background-color: red;
  color: #ffff;
}

#grupFrame {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.statusOFF {
  display: none;
}